body {
height: 323px;
width: 316px;
}

.btn{
    background-color: rgba(3, 122, 255, 1);
    border-radius: 999px;
}

.fig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cptn {
    align-self: flex-end;
    font-family: 'Roboto';
    color: white;
}


.header {
    font-family: 'Road Rage';
    color: rgba(4, 163, 255, 1);
}